body {
    margin: 0px;
    height: 100vh;
    box-sizing: border-box;
}

#game-grid {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 800px;
    margin-left: 34%;
}

.back, .front {
    position: absolute;
    width: 150px;
    height: auto;
}

.card {
    position: relative;
    width: 33.3%;
}